
/***************************************************************/
/* Hero Sction */
/***************************************************************/


.slogan{
    width: 100%;
    z-index: 10;
    font-family: Abril Fatface, sans-serif;
    position: absolute;
    font-size: 5rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.212);
}

.img-slider{
    position: relative;
    width: 1750px;
    height: 800px;
    margin: 0px;
    background: #fff;
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    height: 80rem;
    border-radius: 5px;
}

.img-slider .img-slider-nav{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
  
.img-slider .img-slider-nav .btn{
    border-style: solid ;
    border-color: #fff;
    background: rgba(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
  
.img-slider .img-slider-nav .btn.active{
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}


/***************************************************************/
/* Menu Section */
/***************************************************************/

.menu-nav{
    padding-top: 2rem;
}

.heading-one{
    text-align: center;
    font-family: "Abril Fatface";
    padding: 1rem 0;
    font-size: 4rem;
    font-weight: 300;
    text-decoration: underline;
}

.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.menu-item{
    font-family: "Roboto Regular";
    font-size: 3rem;
    text-decoration: none;
    color: #71BF29;
    text-transform: uppercase;
}

.menu-item.selected{
    color: #16A085;
    text-decoration: underline;
    font-weight: bold;
}

.dish{
    margin: 0.3rem 0;
}

.side{
    margin: 0.3rem 0;
}

.dish-button{
    width: 23rem;
    height: auto;
    border: 1px solid #BCE0FD;
    display: inline-flex;
    background-color: #fff;
    position: relative;
}

.dish-text{
    padding: 0.5rem;
    width: 20rem;
}

.dish-ingredients,
.dish-name{
    text-align: left;
    color: #16A085; 
    font-family: "Roboto Regular";
    font-size: 1rem;
}

.dishes-heading{
    color: #FF6961;
    font-size: 2rem;
}

.center{
    /* width: 25%; This has been put into grid--2-cols*/
    margin: auto;
    margin-top: 5rem;
}

.button-icon{
    color: #16A085;
    position: absolute;
    top: 33%;
    left: 90%;
}

.dish-image{
    width: 23rem;
    display:none;
}

.menu-set{
    display: none;
}

.menu-set.selected{
    display: grid;
}

/***************************************************************/
/* Wi-Fi Section */
/***************************************************************/

.wifi-box{
    display: flex;
    flex-direction: row;
    margin: 10rem auto;
    width: 80%;
}

.wifi-textbox{
    /* margin: 15rem; */
    padding: 20rem;
    max-width: 68rem;
}

.wifi-textbox h1{
    font-size: 5rem;
    text-transform: uppercase;
}

.wifi-textbox p{
    font-size: 2.5rem;
}

/***************************************************************/
/* Story Section */
/***************************************************************/

.profile{
    position: relative;
}

.story-profile-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    padding: 10rem 10% 5rem;
}

.profile-photo{
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    border: 3px solid #F0A42D;
    margin: 1rem auto;
    display: block;
}

.profile-name{
    font-weight: bold;
    font-size: 2rem;
    font-family: "Roboto";
    text-align: center;
}

.job-title{
    font-weight: 400;
    font-size: 1.6rem;
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
}

#story-description{
    text-align: left;
    font-size: 2rem;
    width: 69rem;
    margin: 4rem auto;
}

.speech-bubble{
    width: 25rem;
    margin: 0rem auto;
    background: #F0A42D;
    padding: 2rem;
    text-align: left;
    font-family: "Roboto";
    font-size: 2rem;
    color: #fff;
    opacity: 1;
    position: absolute;
    border-radius: 1rem;
    transform: scale(0);
    animation-fill-mode: forwards;
}

.speech-bubble::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #F0A42D;
    border-bottom: 10px solid transparent;
    right: 50%;
    bottom: -1.8rem;
}

@keyframes expand {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}
  
@keyframes shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}

/***************************************************************/
/* Contact Us Section */
/***************************************************************/

.grid--2-cols-contact{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 10rem 20%;
    width: auto;
    column-gap: 15rem;
}

.contact-details{
    width: 15rem;
}

.contact-details div{
    margin-bottom: 1rem;
}

.contact-details div:last-child{
    margin-bottom: none;
}

.contact-details div p{
    font-size: 1.5rem;
}

.paragraph-subheading{
    font-weight: bold;
    text-transform: uppercase;
}

.sns-icon{
    width: 3rem;
    height: 3rem;
}

#twitter{
    color: #7DBDE8;
}

#facebook{
    color: #385090;
}

#instagram{
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    /* Got the radial-gradient property from https://codepen.io/thomasrye/pen/VaRoYv */
    border-radius: 1rem;
}

.cta-form{
    display: flex;
    flex-direction: column;
    
}

.cta-form input{
    border: none;
    border: 0.3rem solid #16A085; 
    background-color: #fff;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #16A08580;
}

.cta-form input::placeholder{
    color: #16A08580;
}

.cta-form button{
    width: 20%;
    height: 3rem;
    background-color: #16A085;
    border: none;
    color: #fff;
    margin-left: 80%;
}

/***************************************************************/
/* 404 Page Section */
/***************************************************************/

.page-not-found-container{
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-top: 5rem;
}
